/* Subheader.module.css */

.height {
  height: 20px; 
  margin-bottom: 12px;
}

.logo {
    margin-left: 10px;
    margin-top: 8px;
    display: flex;
    align-items: center;
    gap: 40px; /* Adds space between the logo and the text */
  }
  h6{
    font-weight: 500;
    line-height: 21.09x;
    font-size: 18px;
    margin-top: 5px;
    font-family: roboto;
  }

.logo img {
  height: 100%; /* Adjust logo size to fit within height */
  object-fit: contain; /* Maintain aspect ratio */
}
.margin{
  margin-bottom: 6px;
}
.image{
  cursor: pointer;
}