.chatMessagesContainer {
    padding: 10px;
    /* overflow-y: auto; */
    /* flex: 1; */
    height: 60.4vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding-top: 10px; */
  }
  .image{
    height:60px;
    width: 52px;
  }