.body{
    line-height: 0px;
}
.chatBox {
    border: 1px solid lightgrey;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 5px;
    background-color: #FFFFFF;
    width: 300px;
    height: 60px;
  }
  
  .chatContent {
    display: flex;
    align-items: center;
    width:100%;
    background-color: #FF6500;
    height : 50px;
    border-radius: 8px 8px 0 0;
  }
  
  .profilePic {
    width: 40px; /* Adjust size as needed */
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    margin-left: 5px;
  }
  
  .textContent {
    display: flex;
    flex-direction: column;
  }
  
  .userName {
    margin: 0;
    font-family: roboto;
    font-weight: 600px;
    color: rgba(255, 255, 255, 1);
    font-size: 16px; /* Adjust font size as needed */
  }
  
  .messageText {
    margin: 0;
    font-size: 12px; /* Adjust font size as needed */
    color: rgba(255, 255, 255, 1);
    font-family: roboto;
    font-weight: 400;
    padding-top: 3px;
  }
  .verticalline {
    width: 1px;
    height: 24px; /* Adjust height as needed */
    background-color: black; /* Adjust color as needed */
    margin-left: 18px;
    align-items: center;
    margin-top: 3px; /* Space between the line and the setting icon */
  }
  .vedioImg{
    width: 24px;
    height: 24px;
    margin-left: 6px;
  }
  .phoneImg
  {
    margin-left: 18px;
    width: 17.87px;
    height: 18px;
  }